<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4B's</title>

    <!-- swiper link  -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- cdn icon link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- custom css file  -->
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- header section start here  -->
    <header class="header">
        <div class="logoContent">
            <a href="#" class="logo"><img src="images/images/2.png" alt=""></a>
            <h1 class="logoName">4B's</h1>
        </div>

        <nav class="navbar">
            <a href="#Recipe">Recipe</a>
            <div class="dropdown">
                <a href="#category1">Breakfast</a>
                <a href="#category2">Lunch</a>
                <a href="#category3">Dinner</a>
            </div>
        </nav>

        <div class="icon">
            <i class="fas fa-search" id="search"></i>
            <i class="fas fa-heart" id="heart"></i>
            <i class="fas fa-bars" id="menu-bar"></i>
            <i class="fas fa-user-circle" id="profile"></i>
        </div>

        <div class="search">
            <input type="search" placeholder="search...">
        </div>
    </header>
    <!-- header section end here  -->

    <!-- home section start here  -->
    <section class="home" id="home">
        <div class="homeContent">
            <h2>Savor Every Bite,Share Every Thought</h2>
            <p>Discover delicious recipes and food stories that bring people together. 
                From classic dishes to new favorites, let’s enjoy every bite and share the joy of cooking!</p>
            <div class="home-btn">
                <a href="#section"><button>see more</button></a>
            </div>
        </div>
    </section>

    <!-- home section end here  -->

    <!-- product section start here  -->
    <section class="product" id="product">
        <div class="heading">
            <h2>Our Latest Recipe</h2>
        </div>
        <div class="swiper product-row">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <div class="img">
                        <img src="images/images/adobo.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Adobo</h3>
                        <p>A classic Filipino dish of meat braised in soy sauce, vinegar, garlic, and spices.
                        </p>
                        <div class="orderNow">
                            <button>See more </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <div class="img">
                        <img src="images/images/lumpiang-shanghai.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Lumpiang Shanghai</h3>
                        <p>Crispy spring rolls filled with a savory mix of ground meat and vegetables.
                        </p>
                        <div class="orderNow">
                            <button>See more </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <div class="img">
                        <img src="images/images/adobong pusit.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Adobong Pusit</h3>
                        <p>Squid simmered in a tangy and savory adobo sauce with garlic and vinegar.
                        </p>
                        <div class="orderNow">
                            <button>See more</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <div class="img">
                        <img src="images/images/fried chicken.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Fried Chicken</h3>
                        <p>Golden, crispy chicken that’s tender and flavorful inside.
                        </p>
                        <div class="orderNow">
                            <button>See more</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper product-row">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <div class="img">
                        <img src="images/images/sinigang.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Sinigang</h3>
                        <p>A sour soup made with tamarind, meat, and vegetables, perfect for a comforting meal.
                        </p>
                        <div class="orderNow">
                            <button>See more </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <div class="img">
                        <img src="images/images/Chicken Curry.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Chicken Curry</h3>
                        <p> A creamy and flavorful dish made with chicken, coconut milk, curry spices, and vegetables.
                        <div class="orderNow">
                            <button>See more </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <div class="img">
                        <img src="images/images/Lechon Paksiw.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Lechon Paksiw</h3>
                        <p>Leftover roasted pork simmered in a sweet and tangy sauce.
                        </p>
                        <div class="orderNow">
                            <button>See more </button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <div class="img">
                        <img src="images/images/adobong pusit.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3>Adobong Pusit</h3>
                        <p>Squid simmered in a tangy and savory adobo sauce with garlic and vinegar.
                        </p>
                        <div class="orderNow">
                            <button>See more</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!-- product section end here  -->

    <!-- blogs section start here  -->
    <section class="blogs" id="blogs">

        <div class=" swiper blogs-row">
            <div class="swiper-wrapper">
                <div class=" swiper-slide box">
                    <div class="img">
                        <img src="images/images/lechon-paksiw.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Lechon Paksiw</h3>
                        <p>Lechon Paksiw is a popular Filipino dish made by simmering leftover roasted pig (lechon) in a flavorful sauce. The sauce typically consists of vinegar, soy sauce,
                            lechon sauce (or liver sauce), garlic, onions, and spices. The tangy and slightly sweet flavors of the dish come from the vinegar and lechon sauce combination. </p>
                        <p>It’s an economical and delicious way to repurpose leftovers while maintaining the rich, savory taste of the original lechon. Best paired with steamed rice!</p>
                        <a href="#blogs" class="btn">learn more</a>
                    </div>
                </div>
                <div class=" swiper-slide box">
                    <div class="img">
                        <img src="images/images/arroz caldo.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Arroz Caldo</h3>
                        <p>Arroz Caldo is a comforting Filipino rice porridge that is perfect for rainy days or when you’re feeling under the weather.
                            It’s made by simmering rice in a chicken broth until it becomes creamy, then flavored with garlic, ginger, and fish sauce.</p>
                        <p>Topped with boiled egg, fried garlic, green onions, and sometimes calamansi, it has a hearty and savory taste with a hint of warmth from the ginger. 
                            Often served with a squeeze of calamansi and a side of fried tofu or tokwa’t baboy.</p>
                        <a href="#blogs" class="btn">learn more</a>
                    </div>
                </div>
                <div class=" swiper-slide box">
                    <div class="img">
                        <img src="images/images/pinakbet.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Pinakbet </h3>
                        <p>Pinakbet is a traditional Filipino vegetable dish originating from the northern regions of the Philippines. It is made with a mix of local vegetables like eggplant, squash,
                            bitter melon (ampalaya), okra, and string beans. These are sautéed and simmered in a shrimp paste (bagoong alamang) sauce, giving it a salty and umami-rich flavor.</p>
                        <p>Sometimes, pork or shrimp is added for extra depth. It’s a nutritious dish that pairs wonderfully with rice and is a staple in many Filipino households.</p>
                        <a href="#blogs" class="btn">learn more</a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>


        </div>
    </section>

    <!-- blogs section ends here  -->

    <!-- newsletter section start here  -->

    <section class="newsletter">
        <form action="">
            <h3>subscribe for latest update</h3>
            <input type="email" name="" placeholder="enter your email" id="" class="box">
            <input type="button" value="subscribe" class="box2">
        </form>
    </section>
    <!-- newsletter section ends here  -->

    <!-- review section start here  -->
    <section class="review" id="review">
        <div class="heading">
            <h2>client review</h2>
        </div>


        <div class=" swiper review-row">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <div class="client-review">
                        <p>I loved how simple and quick this recipe was. The sauce was super flavorful and coated the veggies perfectly.I added tofu for protein, and it soaked up all the flavors so well. 
            </p>
                    </div>
                    <div class="client-info">
                        <div class="img">
                            <img src="images/images/client1.jpg" alt="">
                        </div>
                        <div class="clientDetailed">
                            <h3>Vince</h3>
                            <p>Lead Developer</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <div class="client-review">
                        <p>This pasta salad is everything I wanted for a light yet filling lunch. 
                            The tangy dressing was spot-on, and the veggies stayed crisp even after prepping it the night before.</p>
                    </div>
                    <div class="client-info">
                        <div class="img">
                            <img src="images/images/client2.jpg" alt="">
                        </div>
                        <div class="clientDetailed">
                            <h3>Meshe</h3>
                            <p>UI / UX designer</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <div class="client-review">
                        <p>This classic combo was a hit! The grilled cheese was perfectly crispy, and the tomato soup was so creamy and flavorful. I used sourdough bread for extra texture,
                            and it was incredible. Such a comforting lunch, especially on a chilly day!</p>
                    </div>
                    <div class="client-info">
                        <div class="img">
                            <img src="images/images/client2.jpg" alt="">
                        </div>
                        <div class="clientDetailed">
                            <h3>Elaine</h3>
                            <p>Backend Developer</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <div class="client-review">
                        <p>I made this for lunch, and wow—it was so quick and tasty!
                            The chicken was juicy, and the creamy avocado tied everything together perfectly.</p>
                    </div>
                    <div class="client-info">
                        <div class="img">
                            <img src="images/images/client2.jpg" alt="">
                        </div>
                        <div class="clientDetailed">
                            <h3>Kim</h3>
                            <p>UI / UX designer</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>

            </div>
        </div>
    </section>
    <!-- review section ends here  -->

    <!-- footer section start here  -->

    <footer class="footer" id="contact">
        <div class="box-container">
            <div class="mainBox">
                <div class="content">
                    <a href="#"><img src="images/images/.png" alt=""></a>
                    <h1 class="logoName"> 4B's </h1>
                </div>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta accusamus maxime quod.</p>

            </div>
            <div class="box">
                <h3>Quick link</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i>Recipe</a>
                <a href="#"> <i class="fas fa-arrow-right"></i>Favorites</a>

            </div>
            <div class="box">
                <a href="#"> <i class="fas fa-arrow-right"></i>Account info</a>
                <a href="#"> <i class="fas fa-arrow-right"></i>privacy policy</a>
                <a href="#"> <i class="fas fa-arrow-right"></i>our  services</a>
            </div>
            <div class="box">
                <h3>Contact Info</h3>
                <a href="#"> <i class="fas fa-phone"></i>+639 1234 56789</a>
                <a href="#"> <i class="fas fa-envelope"></i>4bspalate@gmail.com</a>

            </div>

        </div>
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>
        <div class="credit">
            created by <span>4B's</span> |all rights reserved ! 
        </div>
    </footer>










    <!-- swiper js link  -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file  -->
    <script src="index.js"></script>


</body>

</html>